<template>
    <div class="form-group">
        <div class="row">
            <span class="col-md-6">
                <label for="alternative">Alternativas <small> (Marque a correta)</small></label>
            </span>
            <span class="col-md-6">
                <button type="button" id="AddAlternative" class="btn btn-sm btn-success btn-plus float-md-right" v-on:click="addAlternative">
                    <i class="fa fa-plus"></i> Adicionar alternativa
                </button>
            </span>
        </div>
        <span id="editors" class="form-inline form-check-inline">

        </span>
    </div>
</template>

<script>
    export default {
        methods: {
            addAlternative: function() {
                this.clicks++;
               $("#editors").append('<input type="checkbox" id="right_'+this.clicks+'" name="right['+this.clicks+']" class="form-control my-2 col-sm-1">' +
                   '<input type="text" id="alternative_'+this.clicks+'" name="alternatives['+this.clicks+']" class="form-control my-2 col-sm-11 form-check" ></span>')
            }
        },
        data: function() {
            return {
                clicks:0
            }
        }
    }
</script>
