<template>
    <ol class="breadcrumb">
        <li v-for="item in list" class="breadcrumb-item">
            <a v-if="item.url" v-bind:href="item.url">{{item.title}}</a>
            <span v-if="!item.url">{{item.title}}</span>
        </li>
    </ol>
</template>

<script>
    export default {
        props:['list'],
    }
</script>