<template>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><b>{{ title }}</b></h5>
            <p class="card-subtitle mb-2 text-muted">
                <i class="fas fa-tags"></i> <slot></slot>
            </p>
            <p class="card-text">{{ description }}</p>
            <p class="card-text text-right">
                <a v-if="edit" :href="edit">
                    <button class="btn btn-secondary btn-sm mr-md-1">
                        Editar <i class="fas fa-edit"></i>
                    </button>
                </a>
                <a :href="url">
                    <button class="btn btn-info btn-sm">
                        Ver mais <i class="fas fa-chevron-circle-right"></i>
                    </button>
                </a>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['size', 'title', 'description', 'url', 'edit']
    }
</script>

<style>
    .card-subtitle {
        font-size: 12px;
    }
</style>