<template>
    <ckeditor v-bind:id="id" name="content" :value="defineContent" v-bind:config="{
                        toolbar: defineConfig,
                        height: defineHeight,
                        image_alignClasses: 'image-left',
                        extraPlugins: 'uploadimage',
                        filebrowserBrowseUrl : '/ckeditor/ckfinder/ckfinder.html',
                        filebrowserImageBrowseUrl : '/ckeditor/ckfinder/ckfinder.html?Type=Images',
                        filebrowserFlashBrowseUrl : '/ckeditor/ckfinder/ckfinder.html?Type=Flash',
                        filebrowserUploadUrl : '/ckeditor/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
                        filebrowserImageUploadUrl : '/ckeditor/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
                        filebrowserFlashUploadUrl : '/ckeditor/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'
                        }">
    </ckeditor>
</template>

<script>
    import Ckeditor from 'vue-ckeditor2'

    export default {
        props: ['content','names', 'id', 'height', 'config'],
        computed: {
          defineContent: function() {
            if(this.content) {
                return this.content;
            }
          },
          defineConfig: function() {
            if(this.config === 'simple') {
                return [[ 'TextColor', 'BGColor', '-','Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', 'Custom Button','-', 'Undo', 'Redo', '-', 'Maximize', 'ShowBlocks', 'Source' ]];
            } else {
                return [
                    [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat', 'Blockquote', '-', 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'Link', 'Unlink', '-', 'Image', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar'],
                    ['Styles', 'Format', 'Font', 'FontSize', '-', 'TextColor', 'BGColor', '-', 'Find', 'Replace', 'SelectAll', '-', 'Undo', 'Redo', '-', 'Maximize', 'ShowBlocks', 'Source']
                ];
            }
          },
          defineHeight: function() {
            if(this.height) {
                return this.height;
            } else {
                return 500;
            }
          },
        },
        components: { Ckeditor }
    }
</script>