<template>
    <form v-bind:id="id" v-bind:class="css" v-bind:action="action" v-bind:method="defineMethod" v-bind:enctype="enctype" >
        <input v-if="alterMethod" type="hidden" name="_method" v-bind:value="alterMethod" />
        <input v-if="token" type="hidden" name="_token" v-bind:value="token"/>
        <slot></slot>
    </form>
</template>

<script>
    export default {
        props:['css', 'action', 'method', 'enctype', 'token', 'id'],
        computed: {
            defineMethod: function () {
                let method = this.method.toLowerCase();

                if (method === 'post' || method === 'get') {
                    return method;
                }
                else if (method === 'put') {
                    this.alterMethod = 'put';
                }
                else if (method === 'delete') {
                    this.alterMethod = 'delete';
                }
                return 'post'
            },
        },
        data: function() {
            return {
                alterMethod:''
            }
        }
    }
</script>

<style>
    .btn-plus {
        padding: 0.25rem 0.30rem;
        font-size: 0.6rem;
        line-height: 1;
    }
</style>