<template>
    <div class="table-responsive">
        <div v-if="create" class="my-2 float-md-left">
            <a :href="create">
                <button class="btn btn-success mb-3"><i class="fa fa-plus"></i> Novo</button>
            </a>
        </div>
        <div v-if="!search" class="my-2 float-md-right">
            <form action="" method="get" :token="token">
            <div class="input-group">
                <input class="form-control py-2 border-right-0 border" type="search" value="" placeholder="Buscar ..." id="busca" name="busca">
                <span class="input-group-append">
                    <button class="input-group-text bg-transparent">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
            <th style="cursor: pointer" v-for="(title) in titles">{{ title }} </th>
            <th v-if="edit || exclude || quiz">Ação</th>
            </thead>
            <tbody>
            <tr v-for="(items) in list">
                <td v-for="item in items" v-html="$options.filters.format(item)"></td>
                <th v-if="edit || exclude || quiz">
                    <div class="form-inline">
                        <a v-if="!quiz" :href="edit + '/' + items.id">
                            <button v-if="edit" type="button" class="btn btn-sm btn-primary mx-1">
                                <i class="fa fa-edit"></i> Editar
                            </button>
                        </a>
                        <a v-if="quiz" :href="'simulado/' + items.id + '/portugues/4'">
                            <button v-if="quiz" type="button" class="btn btn-sm btn-primary mx-1">
                                <i class="fa fa-edit"></i> Responder
                            </button>
                        </a>
                        <form v-bind:id="items.id" v-if="exclude && token" v-bind:action="exclude + '/' + items.id" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" v-bind:value="token">
                            <button v-if="exclude" v-on:click="deleteItem(items.id)" type="button" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash-alt"></i> Deletar
                            </button>
                        </form>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: ['titles', 'items', 'create', 'edit', 'exclude', 'token', 'quiz', 'search'],
        mounted: function () {
            console.log(this.items.data);
        },
        methods: {
            deleteItem: function(id) {
                $("#"+id).submit();
            }
        },
        filters: {
          format: function(value) {
              if(value) {
                  if(value.length >= 60) {
                      return value.substr(0, 60).concat('...');
                  }
              }
              return value;
          }
        },
        computed: {
            list:function() {
                return this.items.data;
            }
        }
    }
</script>

<style>
    .total-paginate {
        padding: 0.5rem 0.75rem;
        line-height: 1.25;
        color: rgba(0, 0, 0, 0.7);
        background-color: #fff;
    }

    .total-paginate span {
        font-weight: bolder;
    }
</style>