
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  font-weight: bolder;
}

.navbar-brand i {
  font-size: 1.6rem;
}

.nav-link {
  font-weight: 600;
}

.nav-link.active {
  font-weight: 700;
}

.card-header, .card, .btn, .breadcrumb, form input, button, select, textarea, .nav-item, .nav-link, .active  {
  border-radius: 0 !important;
}

.card-body {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.breadcrumb-item a {
  color: #17a2b8;
  font-weight: bold;
  text-shadow: 1px 1px #fff;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  color: #17a2b8;
  font-weight: bold;
  text-shadow: 1px 1px #fff;
}
.card-subtitle a {
  color: #17a2b8;
}

input[type="checkbox" i] {
  height: 2.25rem;
}

input[type="checkbox"]:focus {
  box-shadow: 0 0;
}


img {
  max-width: 100%;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media screen and (min-width: 1024px) {
  .bg-general i {
    font-size: 39rem;
    color: #8080803d;
    position: fixed;
    bottom: 13px;
    z-index: -999;
    right: 9px;
    margin: 0;
    padding: 0;
  }

}

@media screen and (max-width: 1023px) {
  .bg-general i {
    display: none;
  }
}

